<h3>Welcome!</h3>

<p>Please register so you send a bit of advice.</p>

<%= form_for @user do |f| %>
  <%=f.label :first_name  %>
  <%=f.text :first_name  %>

  <%= f.label :last_name %>
  <%= f.text :last_name %>

  <%= f.label :email %>
  <%= f.text :email %>

  <%= f.label :password %>
  <%= f.password :password %>

  <%= f.submit %>
<% end %>
