<!DOCTYPE html>
<html>
  <head>
    <title>ABitOfAdvice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <%= link_to "Log out" %>
      <% else %>
        <%= link_to "Register as a User", registration_path %>
        <%= link_to "I already have an account", "/login" %>
      <% end %>
    </nav>
    <% flash.each do |type, msg| %>
      <div class="<%= type %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
